<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div class="abthm lpad15">
  <h5><%= link_to "Home", welcome_index_path, class:  "cfont font18 .lpad10" %></h5>
</div>
<div class="bgcenter ">
  <div>
    <h1 class="ggggfont tpad15 lpad25 tmar25 bmar15 abs"> Application Information</h1>
  </div>
  <div class="tmar125 abs lmar15 rpad25">
    <%= link_to "Edit App", edit_registered_application_path(@reg_app), class: "dfont font18 abs" %>
  </div>
  <div class="tmar150 abs lmar15 rpad25">
    <%= link_to "My Apps", registered_applications_path, class: "ddfont font18 abs tmar" %>
  </div>
    <div class="wid50per tcent lmar25per tpad75 tmar50 rmar25per">
      <h2><%= @reg_app.name %></h2>
      <h4 class="gfont"> <%= @reg_app.url %></h4>
      <small class="lmar10 rmar10">Application registered for <%= time_ago_in_words(@reg_app.created_at) %></small>
      <div class="bmar15">
        <%= link_to "", registered_application_path(@reg_app), method: :delete, data: { confirm: 'Are you sure you want to deregister this Application?'}, class: "glyphicon glyphicon-trash glyfont tmar15 bline2 bmar15" %>
      </div>
      <h3>Recent Events:</h3>
      <%= pie_chart @events.count %>
    </div>
    <div class="tmar50 tline glyphist2 wid50per">
      <p class="glyphicon glyphicon-align-left  fx"></p>
      <p class="glyphicon glyphicon-stats  fx"></p>
      <p class="glyphicon glyphicon-align-right  fx"></p>
    </div>
</div>
