<div class="abthm lpad15">
  <h5><%= link_to "Home", welcome_index_path, class:  "cfont font18 .lpad10" %></h5>
</div>
<div class="bgcenter ">
  <h1 class="ggggfont tpad15 lpad25"> Application Information</h1>
<div>
<div class="row pad25">
  <h4 class="infoinfo tpad50">
    <div class="container pull-left bmar25">
      <h5><%= link_to "Edit App Info", edit_registered_application_path(@reg_app), class: "pull-left lmarneg10 dfont font18" %></h5>
    </div>
    <div class="tcent">
      <h2><%= @reg_app.name %></h2>
      <h4 class="gfont"> <%= @reg_app.url %></h4>
      <small class="lmar10 rmar10">Application registered for <%= time_ago_in_words(@reg_app.created_at) %></small>
      <div>
        <%= link_to "", registered_application_path(@reg_app), method: :delete, data: { confirm: 'Are you sure you want to deregister this Application?'}, class: "glyphicon glyphicon-trash glyfont tmar15 bline2" %>
      </div>
      <h3 class="pull-left lmar25per bmar25">Recent Events:<br></h3>
      <p class="infoinfo tmar33 tcent tmar50"> -
        <%= @reg_app.events.name %>
      </p>
    </div>
  </h4>
</div>
<div class="topline glyphist">
  <a class="glyphicon glyphicon-align-left glyphist"></a>
  <a class="glyphicon glyphicon-stats lmar25 rmar25 glyphist"></a>
  <a class="glyphicon glyphicon-align-right glyphist"></a>
</div>
