<div class="abthm lpad15">
  <h5><%= link_to "Home", welcome_index_path, class:  "cfont font18 .lpad10" %></h5>
</div>
<div class="bgcenter ">
  <h1 class="ggggfont tpad15 lpad25">Change your password</h1>
<div>
<div class="row pad25">
  <h4 class="infoinfo tpad50">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>
</h4>
</div>
<%= render "devise/shared/links" %>
<div class="topline glyphist">
  <a class="glyphicon glyphicon-align-left glyphist"></a>
  <a class="glyphicon glyphicon-stats lmar25 rmar25 glyphist"></a>
  <a class="glyphicon glyphicon-align-right glyphist"></a>
</div>
